@import "../../../color-variables.scss";
.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 70px;
  font-family: "Poppins", sans-serif;
  background-color: $bg-secondary;
  color: $bg-primary;
  text-align: justify;

  h3 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .text {
    flex: 1;
  }

  form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;

    input,
    textarea {
      background: none;
      border: none;
      border-bottom: 1px solid white;
      width: 100%;
      height: 60px;
      margin-bottom: 40px;
      color: white;
      &::placeholder {
        font-family: "Poppins", sans-serif;
        color: white;
        opacity: 1;
      }

      &:focus {
        outline: none;
        border-bottom: 2px solid white;
      }
    }
  }
}

@media (min-width: 1080px) {
  .form-section {
    flex-direction: row;
    gap: 115px;
    padding: 40px 120px;
  }
}
