<app-header></app-header>
<main>
  <section class="main-section">
    <div class="headline">
      <span>Kinnitchi Consultoria</span>
      <h1>A Consultoria que você precisa para alcançar o sucesso.</h1>
    </div>
    <img
      ngSrc="./assets/main.png"
      alt="Consultoria"
      width="670"
      height="540"
      priority
      style="mix-blend-mode: multiply"
    />
  </section>

  <section class="benefits-section">
    <div class="benefits-data">
      <h2>
        Benefícios da <br />
        Consultoria
      </h2>
    </div>

    <div>
      <span>Benefícios:</span>
      <ul>
        <li>Especialistas experientes em diversas áreas de negócios.</li>
        <li>Abordagem personalizada para atender às necessidades específicas de cada cliente.</li>
        <li>Resultados comprovados e satisfação do cliente garantida.</li>
      </ul>
    </div>
  </section>
  <section class="cta-section">
    <btn-primary buttonText="Fale com nossos especialistas"></btn-primary>
  </section>

  <app-news-form></app-news-form>
</main>
