@import "../../../color-variables.scss";
.btn {
  border: none;
  border-radius: 30px;
  padding: 20px 40px;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &.btn-primary {
    color: $bg-primary;
    background: -webkit-linear-gradient(180deg, $primary-color, $secondary-color);
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    &:hover {
      background: -webkit-linear-gradient(180deg, darken($primary-color, 10%), darken($secondary-color, 10%));
    }
  }
  &.btn-secondary {
    background: $bg-primary;
    color: $primary-text;
    font-size: 16px;
    font-weight: bold;
    padding: 20px;
  }
}
