$background-color: rgba(255, 255, 255, 1);
$primary-text: rgba(71, 85, 105, 1);
$secondary-text: rgba(15, 23, 42, 1);
$primary-color: rgba(132, 85, 255, 1);
$secondary-color: rgba(82, 34, 208, 1);
$light-primary-color: rgba(183, 159, 247, 1);
